.container {
  min-height: 70vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e3dc;
  height: 10vh;
}

.seconds {
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: green;
}
.secondsDown {
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: red;
}

.spacing {
  padding: 0.3rem;
  font-size: 1.2rem;
}
.cards {
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
}

.title {
  font-size: 1rem;
}

.input {
  width: 17rem;
  font-size: 1.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 2rem;
  padding: 1.6rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  text-align: center;
  margin: 2rem;
}

.button {
  background-color: #55b1bd;
  border: none;
  cursor: pointer;
  padding: 1rem 1.6rem;
  color: whitesmoke;
  font-size: 1.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: bold;
  border-radius: 1rem;
}

.button2 {
  background-color: #fb9902;
  cursor: pointer;
  border: none;
  padding: 0.7rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: whitesmoke;
  border-radius: 1rem;
}

.button4 {
  background-color: #fb9902;
  cursor: pointer;
  border: none;
  padding: 0.7rem;
  width: 5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: whitesmoke;
  border-radius: 1rem;
}

.button3 {
  cursor: pointer;

  border: 2px solid #fb9902;
  margin-left: 1.5rem;
  padding: 0.7rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: gray;
  font-weight: 500;
  border-radius: 1rem;
}

.inputAndButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wordsPerMinutes {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fb9902;
}

.gameFinished {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0.5rem 3rem;
}

.score {
  font-size: 2rem;
  margin-top: 0;
}

.footer {
  height: 25vh;
  border: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerhead {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 90%;
  margin-top: 2rem;
  width: 50vw;
  padding: 1rem;
  color: white;
  background-color: #4f4e4a;
}

.spec {
  color: #55b1bd;
  font-weight: bold;
}

.topPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form > p {
  font-size: 1.5rem;
  color: #fb9902;
  text-transform: uppercase;
  font-weight: bold;
}

.form > input {
  width: 15rem;
  height: 2.7rem;
  border: none;
  padding: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 1rem;
}
